* {
    font-family: "Inter", sans-serif;
}

.header-guide h1 {
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.035em;
    font-weight: bold;
}

.header-guide h3 {
    font-family: "Inconsolata", monospace;
    letter-spacing: 0.035em;
    font-weight: bold;
}

.container-guide {
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding-inline: 144px;
    width: 85%;
}

.container-guide h2 {
    font-family: "Inconsolata", monospace;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.035em;
    margin-bottom: 1rem;
}

.container-guide p {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    letter-spacing: 0.035em;
}

.container-guide input {
    font-family: "Inconsolata", monospace;
    font-size: 18px;
    letter-spacing: 0.035em;
}

.btn-generate {
    font-family: "Inconsolata", monospace;
    font-size: 32px;
    font-weight: bolder;
    color: white;
    letter-spacing: 0.035em;
    padding-inline: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    border-radius: 1rem;
}